* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none
}



.container {
    width: 1033px;
    margin-left:204px ;
    padding: 0 15px;
}



header {
    border-bottom-style: solid;


box-sizing: border-box;

position: absolute;
width: 100%;
height: 150px;
left: 0px;
top: 0px;

background: rgba(43, 74, 97, 0.87);
border-bottom: 3px solid #FFFFFF;

}

.header {
    display: flex;
}

.li-a:hover {
    color:#94CFFF ;
}

.li-a {
    color:#FFFFFF ;
}

.list {
    display: flex;
    padding-bottom: 63px;
    margin-top:63px;
    margin-left:168px;
    margin-right:212px;
    font-family: Inter2;
    font-size: 20px;
}

.list-li:nth-child(n - 2) {
    margin-right: 38px;
}


.Logo {
    margin-top:39px ;
    margin-left: 204px;
}

.header-button{
    margin-right:49px ;
    background-color: #0B0E66;
    color: #26C7EA;
    border-bottom-right-radius:35px;
    border-top-left-radius:35px;
    border-style: solid;
    border-width: 2pt;
    border-color: #26C7EA;
    width: 141px;
    height: 41px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
margin-top: 54px;
font-size: 20px;
}

.Language {
    margin-top: 63px;
    color: #26C7EA;
}

/* HEADER */




.section-flex{
    display: flex;
}

.list-main {
   
    height: 381px;
    width: 376px ;
    margin-right: 606px;
}

.main-section {
    padding-bottom:179px;
    padding-top: 189px;
    background-image:url(./assets/img/MainPhoto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.list-main-li:first-child {
    margin-bottom:40px
}

.list-main-li:nth-child(2) {
    margin-bottom:42px;
}

.List-main-button{
    background-color: #0B0E66;
    color: #26C7EA;
    border-bottom-right-radius:35px;
    border-top-left-radius:35px;
    border-style: solid;
    border-width: 2pt;
    border-color: #26C7EA;
    width: 260px;
    height: 80px;
    font-size: 24px;
}

.sites:nth-child(1){
margin-bottom: 24px;
}

.sites:nth-child(2){
margin-bottom: 27px;
}

.list-main2{
    align-self: center;
}

.main-section2{
    padding-top: 75px;
}

.h2{
    text-align: center;
    margin-bottom:16px;
    font-size: 36px;
}

.p2{
    padding-bottom:138px;
    text-align: center;
    font-size: 24px;
}

.main-section3{
    padding-top:330px;
    padding-bottom: 331px;
    background-image: url(./assets/img/CenterPhoto.jpg);
    background-size: cover;
    background-position: center;
}

.main-section3-button{
    align-items: center;
    display: block;
    margin: 0 auto;
     background-color: #0B0E66;
    color: #26C7EA;
    border-bottom-right-radius:35px;
    border-top-left-radius:35px;
    border-style: solid;
    border-width: 2pt;
    border-color: #26C7EA;
    width: 260px;
    height: 80px;
    font-size: 24px;
}

.main-section4-5 {
    padding-top: 75px;
    padding-bottom: 57px;
    margin-bottom:75px;

}

.main-section4 {
    background-image:url(./assets/img/FooterPhoto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 75px;
}

.h4{
    text-align: center;
    padding-top: 58px;
    margin-bottom: 45px;
    font-size: 32px;
    font-weight: 300;
}

.main-section4-list {
    display: grid;
    grid-template-columns:320px 320px 320px ;
    grid-template-rows: 240px 240px;
    justify-content: center;
    align-content: center;
    row-gap: 35px;
   column-gap: 35px;
   font-size: 24px;
}

.main-section4-list-li{
   row-gap: 35px;
   column-gap: 35px;
    justify-content: center;
    background-color:aliceblue ;
    
}


.ms4-li-p{
justify-content: center; 
   margin-bottom:120px;
   margin-top: 36px;
    
}

.pms4-li-p1{
margin:0 auto;
}

.ms5-h2{
    text-align: center;
    margin-bottom: 16px;
    padding-top: 75px;
    font-size: 36px;
}

.ms5-p{
    text-align: center;
    padding-bottom:138px;
    font-size: 24px;
}

.footer {
    height: 223px;
    background-color: antiquewhite;
position: absolute;
width: 100%;
left: 0px;
top: 3385px;
background: rgba(43, 74, 97, 0.87);

}


.footer-section {
    display: flex;
}

.holder {
    height: 153px;
    padding-right: 80px;
    border-right: black solid 1px;
    margin-top:35px;

    margin-right: 80px;
}

.a-logo {
   text-align: center;
   display: block;
   margin-top: 42px;
}

.footer-p:first-child {
    margin-bottom: 16px;
}

.footer-p{
    font-size: 16px;
}

.footer-list {
    margin-top: 80px;
}

.footer-p1 {
    align-self: flex-end;
    font-size:14px;
    font-weight: 400;
    margin-bottom: 25px;
    margin-left:430px ;
}

main ,  footer  {
    font-family: Inter1;
}

.p3 {
    color: white;
}

.p5 {
    color: white;
}

